#canvas {
    border: var(--border-length) solid black;
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-height: 1080;
    max-width: 1920;
}

#canvas-container {
    overflow: scroll;
}

#toolbar {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border-bottom: var(--border-length) solid black;
}

#toolbar > button + button{
    border-left: var(--border-length) solid black
}

#eraser, #clear, #share {
    flex: 1.5;
}

#eraser {
    align-self: flex-start;
}

#clear, #share {
    align-self: flex-end;
}

.button.color {
    background-color: var(--type);
    flex: 1;
}


/**********
    Reset button
    *************/
button {
    font-family: inherit;
    /* For all browsers */
    font-size: 100%;
    /* For all browsers */
    line-height: 1.15;
    /* For all browsers */
    margin: 0;
    /* Firefox and Safari have margin */
    overflow: visible;
    /* Edge hides overflow */
    text-transform: none;
    /* Firefox inherits text-transform */
    -webkit-appearance: button;
    /* Safari otherwise prevents some styles */
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.button {
    border: 0;
    border-radius: 0;
    background: white;
    color: black;
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}